@page "/search"
@using ImageSearch.Components

@if (_overlayImageId != null)
{
    <Overlay OnOverlayClosed="@(() => { _overlayImageId = null; })">
        <ImageDetail ImageId="@_overlayImageId"/>
    </Overlay>
}

<div class="main">
    <div class="outer-container">
        <img src="logo.png" alt="Logo der Bibliothek St. Moritz"/>

        <div class="inner-container">
            <h1>Bildersuche der Dokumentationsbibliothek St. Moritz</h1>
            <input tabindex="0"
                   class="search-input"
                   @bind="_inputText"
                   placeholder="Bilder suchen..."
                   @bind:event="oninput"
                   @bind:after="@(() => QueueSearch(false))"
                   @onchange="@(() => QueueSearch(true))"/>

            @if (_search?.Query != null && (_search?.ResultCount ?? 0) > 0)
            {
                <p>Für die Suche nach @_search!.Query.ToDescription() wurden @_search.ResultCount Bilder gefunden.</p>
            }
        </div>
    </div>

    <Results @ref="_results" InitialQuery="_query" OnSearchInitialized="OnSearchInitialized" OnImageSelected="@OnImageSelected"/>
</div>