<div class="card">
    <div style="@Size">
        <a href="@DetailUrl" @onclick="OnClick" @onclick:preventDefault>
            <img class="image placeholder blur-up" onload="this.classList.add('loaded')" style="@Size" src="@_imageSrc" alt="@_imageAlt"/>
        </a>
    </div>
    <div style="@($"width: {_width}px;")">
        <div class="text">
            <div class="title">@Title</div>
            @if (_result != null && Query != null)
            {
                <div>
                    @_builder.Justify(Query, _result)
                </div>
            }
            <div>@Jahr</div>
        </div>
    </div>
</div>