<div class="container">
    <div class="left" style="@AspectRatioStyle">
        <div class="placeholder"></div>

        <div class="hint">
            <span>
                Das Bild wird in originalgrösse (@ImageSize) geladen...
            </span>
        </div>

        <div class="image">
            <img class="blur-up"
                 style="max-width: 100%; max-height: 100%;"
                 onload="this.classList.add('loaded')"
                 src="@_imageSrc"
                 alt="@_imageAlt"/>
        </div>
    </div>

    <div class="right">
        <h3>@(_result?.Caption ?? "<Titel>")</h3>
        <dl>
            <dt>Bildnummer</dt>
            <dd>@(_result?.ImageNr.ToString() ?? "<keine Angabe>")</dd>

            <dt>Kategorie</dt>
            <dd>
                @((_result?.Subject?.Length ?? 0) > 0 ? string.Join(">", _result!.Subject!) : "<keine Angabe>")
            </dd>

            <dt>Beschreibung</dt>
            <dd>@(_result?.Description ?? "<keine Angabe>")</dd>

            <dt>Erfassungsdatum</dt>
            <dd>@(_result?.Erfassungsdatum ?? "<keine Angabe>")</dd>

            <dt>Jahr</dt>
            <dd>@(_result?.Year ?? "<keine Angabe>")</dd>

            <dt>Jahreszeit</dt>
            <dd>@(_result?.Season ?? "<keine Angabe>")</dd>

            <dt>Dekade</dt>
            <dd>
                @if (DecadeLink != null)
                {
                    <a href="@DecadeLink.Url" @onclick="NavigateToDecadeSearch">
                        @DecadeLink.Text
                    </a>
                }
                else
                {
                    @("<keine Angabe>")
                }
            </dd>

            <dt>Urheber</dt>
            <dd>@(_result?.Urheber ?? "<keine Angabe>")</dd>

            <dt>Lizenz</dt>
            <dd>@(_result?.License ?? "<keine Angabe>")</dd>

            <dt>Bild Id (DokubibId)</dt>
            <dd>@(_result?.DokubibId ?? "<keine Angabe>")</dd>

            <dt>Negativnummer</dt>
            <dd>@(_result?.Negativnummer ?? "<keine Angabe>")</dd>
        </dl>
    </div>
</div>