@using ImageSearch.Services
<div class="card">
    <div style="@Size" @onclick="OnClick">
        <a href="@DetailUrl">
            <img class="image placeholder blur-up" onload="this.classList.add('loaded')" style="@Size" src="@_imageSrc" alt="@_imageAlt"/>
        </a>
    </div>
    <div style="@($"width: {_width}px;")">
        <div class="text">
            <div class="title">@Title</div>
            @if (_result != null && Query != null)
            {
                <div>
                    @{
                        string style = "background: lightgreen; font-weight: bold;";
                        foreach (MarkupString explanation in _result.ExplainSearch(Query, 40, style))
                        {
                            <div>
                            @explanation
                            </div>
                        }
                    }
                </div>
            }
            <div>@Jahr</div>
        </div>
    </div>
</div>