<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Nichts gefunden.</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Unter dieser Adresse ist keine Seite vorhanden.</p>
        </LayoutView>
    </NotFound>
</Router>